<div class="container mt-4">
  <h2>Mi Perfil</h2>
  <div class="card">
    <div class="card-body" *ngIf="datos">
      <dl class="row">
        <dt class="col-sm-4">Nombre Completo</dt>
        <dd class="col-sm-8">{{ datos.nombres }} {{ datos.apellido_paterno }} {{ datos.apellido_materno }}</dd>
        <dt class="col-sm-4">RUT</dt>
        <dd class="col-sm-8">{{ datos.rut }}</dd>
        <dt class="col-sm-4">Región</dt>
        <dd class="col-sm-8">{{ region }}</dd>
      </dl>
      <div *ngIf="esAdmin" class="alert alert-info mt-3">Usuario Administrador</div>
    </div>
  </div>
</div>
