/* Estilos para Usuarios Sistema */
.table {
  font-size: 0.9rem;
}

.card form input {
  font-size: 0.875rem;
}

.card form {
  max-width: 800px;
  margin: 0 auto;
}

.form-floating > label {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}
